<a href="https://colab.research.google.com/github/DASalerno-AU/group-4-metrobus/blob/main/Capstone__Ageovisa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import itertools
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics

#Data preparation

In [7]:
df1 = pd.read_excel("/content/Ageovisadata.xlsx") ##find out how import data
colNames = ["userid",
            "langid",
            "correct",
            "sessions",
            "percept",
            "input",
            "process"]
df2 = df1[df1["Suggestives"].isna() != True]
df3 = df2.dropna()
df3

,userid,langid,correct,sessions,percept,input,process,understand,Suggestives
0,5,EN,2,6,1,1,1,2,3
1,5,ES,22,2,2,2,1,1,2
2,0,ES,18,22,1,1,1,1,2
3,6,DE,9,5,2,1,1,1,2
4,6,FR,18,28,2,2,2,2,3
5,9,EN,0,17,1,1,1,2,2
6,9,EN,16,14,2,2,2,1,1
7,8,EN,14,19,2,1,1,2,3
8,9,ES,9,5,2,1,2,2,3
9,9,FR,11,6,2,1,2,2,2
10,6,EN,22,4,1,1,1,1,2
11,7,FR,2,11,1,1,1,1,1
12,2,DE,11,1,1,2,1,2,1
13,4,DE,2,11,1,2,2,2,3
14,2,De,6,18,2,2,2,2,2

In [8]:
df_string = df3[["langid"]]
df_numeric = df3[["userid",
            "correct",
           "sessions",
            "percept",
            "input",
           "process"]]

In [10]:
df3["Suggestives"].value_counts()

2    7
3    5
1    3
Name: Suggestives, dtype: int64

In [11]:
oe = OrdinalEncoder()
X_str = df_string.to_numpy()
Xnew_str = oe.fit_transform(X_str)
Xnew_str

array([[2.],
       [3.],
       [3.],
       [0.],
       [4.],
       [2.],
       [2.],
       [2.],
       [3.],
       [4.],
       [2.],
       [4.],
       [0.],
       [0.],
       [1.]])

In [12]:
X_num = df_numeric.to_numpy()
X_tot = np.concatenate([X_num, Xnew_str], axis=1)
X_tot

array([[ 5.,  2.,  6.,  1.,  1.,  1.,  2.],
       [ 5., 22.,  2.,  2.,  2.,  1.,  3.],
       [ 0., 18., 22.,  1.,  1.,  1.,  3.],
       [ 6.,  9.,  5.,  2.,  1.,  1.,  0.],
       [ 6., 18., 28.,  2.,  2.,  2.,  4.],
       [ 9.,  0., 17.,  1.,  1.,  1.,  2.],
       [ 9., 16., 14.,  2.,  2.,  2.,  2.],
       [ 8., 14., 19.,  2.,  1.,  1.,  2.],
       [ 9.,  9.,  5.,  2.,  1.,  2.,  3.],
       [ 9., 11.,  6.,  2.,  1.,  2.,  4.],
       [ 6., 22.,  4.,  1.,  1.,  1.,  2.],
       [ 7.,  2., 11.,  1.,  1.,  1.,  4.],
       [ 2., 11.,  1.,  1.,  2.,  1.,  0.],
       [ 4.,  2., 11.,  1.,  2.,  2.,  0.],
       [ 2.,  6., 18.,  2.,  2.,  2.,  1.]])

In [13]:
X = X_tot[:,:-1]
y = X_tot[:,-1]
print(f"X:{X.shape}, y:{y.shape}")

X:(15, 6), y:(15,)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
print(f"X_train: {X_train.shape},\n\
X_test: {X_test.shape}, \n\
y_train: {y_train.shape}, \n\
y_test: {y_test.shape}")

X_train: (12, 6),
X_test: (3, 6),
y_train: (12,),
y_test: (3,)

###Gradient Boosting Classifier

In [25]:
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)
print(f"Train:{gbc.score(X_train, y_train)}, \n\
Test:{gbc.score(X_test, y_test)}")

Train:1.0,
Test:0.0

#optimize dct

In [23]:
paramsForGBC = {"n_estimators":[200, 250, 300],
                "max_depth":[2, 3, 1, 2],
                "learning_rate":[0.001, 0.01, 0.1]}

In [20]:
gbc = GradientBoostingClassifier()

In [21]:
gsGBC = GridSearchCV(gbc, paramsForGBC)

In [ ]:
gsGBC.best_params_

In [ ]:
print(f"Train:{gsGBC.score(X_train, y_train)}, \n\
Test:{gsGBC.score(X_test, y_test)}")

###SVC

In [26]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)
print(f"Train:{svc.score(X_train, y_train)}, \n\
Test:{svc.score(X_test, y_test)}")

Train:0.5833333333333334,
Test:0.0

#Optimize  SVC

###Neural Network

In [27]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=())
mlp.fit(X_train, y_train)
print(f"Train:{mlp.score(X_train, y_train)}, \n\
Test:{mlp.score(X_test, y_test)}")

Train:0.4166666666666667,
Test:0.3333333333333333

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

Optimized Neural Network